[submodule "datasharing"]
	path = the_data_scientist_toolbox/datasharing
	url = https://github.com/readerr/datasharing.git
[submodule "exploratory_data_analysis_cp2"]
	path = exploratory_data_analysis/course_project_2
	url = https://github.com/readerr/exploratory_data_analysis_cp2.git
[submodule "ExData_Plotting1"]
	path = exploratory_data_analysis/plotting_1
	url = https://github.com/readerr/ExData_Plotting1.git
[submodule "programming_assignment"]
	path = getting_and_cleaning_data/programming_assignment
	url = https://github.com/readerr/getting_and_cleaning_data.git
