[submodule "datasharing"]
	path = the_data_scientist_toolbox/datasharing
	url = https://github.com/readerr/datasharing.git
[submodule "exploratory_data_analysis_cp2"]
	path = exploratory_data_analysis/course_project_2
	url = https://github.com/readerr/exploratory_data_analysis_cp2.git
